SwiftBillReader.xcodeproj/project.xcworkspace/xcuserdata/nagar00.xcuserdatad/UserInterfaceState.xcuserstate
SwiftBillReader.xcodeproj/xcuserdata/nagar00.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftBillReader.xcodeproj/xcuserdata/nagar00.xcuserdatad/xcschemes/xcschememanagement.plist
